.app-header{
    /*outline: 1px solid lightgray;*/
    width: 100%;
}

/*@media (min-width: 768px)
.container {
    width: 450px;
}*/

.app-header .container{
    height: 150px !important;
    outline: 1px solid lightgray;
    margin: 0 auto;
    background: rgba(0,0,0,0);
}

.menu-item{
    display: inline-block;
    padding-right: 10;
}

.app-view{
    min-height: 500px;
    margin: 0 auto;
    outline: 1px solid lightgray;
}
.app-view h1{
    margin-left: 10px;
    text-align: left;
}
.app-view p{
    margin-left: 50px;
    text-align: left;
}
